body {
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  font-family: sans-serif;
}
div {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
a {
  color: blueviolet;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
    color:grey;
    margin-top: 60px;
}
h2 {
  border: solid 1px;
  border-radius: 10px;
  background-color: rgb(213, 243, 243);
  padding: 20px;
}
