.container {
  background-color: lightblue;
  margin-top: 80px;
  margin-left: 40%;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#btn {
  cursor: pointer;
}