body {
  display: flex;
  justify-content: center;
}
#container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
}
#counter{
  text-align: center;
  font-size: larger;
  padding-bottom: 25px;
}
h1{
  margin-left: 25px;
}